Найти:
<input ng-model="myQuery"><br><br>

Сортировать по:
<select ng-model="myOrderProperty">
    <option value="id">ID</option>
    <option value="weight">Весу</option>
    <option value="height">Росту</option>
    <option value="name">Имени</option>
    <option value="-weight">Весу (по убыванию)</option>
</select>

Показать
<select ng-model="myTypeFilter">
    <option value="">Всех</option>
    <option value="grass">Grass</option>
    <option value="poison">Poison</option>
    <option value="fire">Fire</option>
    <option value="water">Water</option>
    <option value="electric">Electric</option>
    <option value="normal">Normal</option>
</select>

<ul>
    <li ng-repeat="pokemon in pokemons | filter: myQuery | filter: {type: myTypeFilter} | orderBy: myOrderProperty">
        <img src="{{pokemon.ThumbnailImage}}" ng-click="showAlert(pokemon.name)">

        <small>ID #{{pokemon.id }}</small>
        <h1 class="{{pokemon.type[0]}}">{{pokemon.name}}</h1>
        <p>Вес: {{pokemon.weight}}, рост: {{pokemon.height}}</p>
        <p>Тип: {{pokemon.type [0]}}</p>
        <hr />
    </li>
</ul>

<p ng-show="myQuery">
    Выведены покемоны, содержащие
    {{myQuery}}
</p>